<div class="genre-list">
	<form action="{{ path('homepage') }}" method="POST" id="genre-form">
		<ul>
			{% for genre in genres %}
				<li class="genre-item">
					<label>
						<input type="checkbox" class="genre-checkbox" name="genres[]" value="{{ genre.id }}" {% if genre.id in app.request.get('genres', []) %} checked {% endif %}>
						{{ genre.name }}
					</label>
				</li>
			{% endfor %}
		</ul>
	</form>
</div>
