<div id="movieModal" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		{% include 'shared_components/video_play.html.twig' with {'video_key': null} %}
		<!-- Video Title -->
		<h3 id="modal-video-title"></h3>

		<!-- Movie Information: Title, Stars, and Votes -->
		<div id="modal-movie-info" class="modal-movie-info">
			Film:
			<h4 id="modal-movie-title"></h4>
			<div id="modal-stars" class="modal-stars"></div>
			pour
			<span id="modal-votes" class="modal-votes"></span>
			utilisateur
		</div>
	</div>
</div>
