<div id="movieModal" class="modal" style="display: none;">
	<div class="modal-content">
		<span class="close">&times;</span>
		{% include 'shared_components/video_play.html.twig' with {'video_key': null} %}
		<!-- Video Title -->
		<h3 id="modal-video-title"></h3>

		<!-- Movie Information: Title, Stars, and Votes -->
		<div id="modal-movie-info" style="display: flex; align-items: center; gap: 10px; margin-top: 10px;">
			Film:
			<h4 id="modal-movie-title" style="margin: 0;"></h4>
			<div id="modal-stars" style="display: flex; gap: 2px;"></div>
			pour
			<span id="modal-votes" style="font-size: 14px; color: gray;"></span>
			utilisateur
		</div>
	</div>
</div>

{% block javascripts %}
	<script src="{{ asset('script/modal.js') }}"></script>
{% endblock %}
